.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh; /* hoặc chiều cao phù hợp */
  padding-top: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.welcome-content h2 {
  font-size: 3.5rem;
  margin-bottom: 5px;
  font-weight: 400;
  font-family: 'Brush Script MT', cursive, sans-serif;
  color: #b0b0b0;
}

.welcome-content p {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.welcome-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #ff0055;
  color: #fff;
}

.primary-btn:hover {
  background-color: #e6004c;
}

.secondary-btn {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.secondary-btn:hover {
  background-color: #000;
  color: #ff0055;
}

/* Responsive */

@media (max-width: 768px) {
  .welcome-content h2 {
    font-size: 2rem;
  }

  .welcome-buttons {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
